// Light
$main : #318dce;
$secondary : #323449;
$border : #DEE3E2;
$background : #ECEFF9;
$white : #f7faff;
$inputs : #EEF1F1;
$icons : #71748E;
$primaryf : #050F0D;
$secondaryf : #35413E;
$errorBg : #F7E8F1;
$successBg : #E0F5E6;
// Fonts
$third : #6E7775;
$placeholder : #B9C6C3;
$light : #F7F8F8;




















// Dark