.tableItem {
    .tableHover {
        position: absolute;
        width: 55px;
        height: 100%;
        background: linear-gradient(135deg, rgba(49, 141, 206, 0.15), rgba(50, 52, 73, 0.15));
        backdrop-filter: blur(6px);
        right: 0;
        top: 0;
        z-index: 0;
        transition: .7s;
    }
    &:hover {
      .tableHover {
            width: 100%;
        }  
    } 
}

// Make inputs numbers always in english

input {
  font-family: system-ui, Arial, sans-serif;
  font-variant-numeric: lining-nums;
}